.button {
	background-color:#7892c2;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  margin: 50px;
}

.button:hover {
	background-color:#476e9e;
  color: white;
  text-decoration:  none;
}

.button:active {
	position:relative;
	top:1px;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.button2 {
	background-color:#7892c2;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
  margin: 50px;
}

.button2:hover {
	background-color:#476e9e;
  color: white;
  text-decoration:  none;
}

.button2:active {
	position:relative;
	top:1px;
  text-decoration: none;
}

a {
  text-decoration: none;
}
